{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Crear nuevo vehiculo</h3>
{% endblock contentViewTitle %}
{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger">
			Corrija los <strong>errores</strong> por favor
			<p>{{ form.non_field_errors }}</p>
		</div>
	{% endif %}
	<div class="well">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Guardar" class="btn btn-success">
		</form>
	</div>
{% endblock content %}