{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Crear nuevo vehiculo</h3>
{% endblock contentViewTitle %}
{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger">
			Corrija los <strong>errores</strong> por favor
		</div>
	{% endif %}
	<div class="well">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% for forms in form %}
				<div class="form-group">
					<label>{{ forms.label }}</label>
					{{ forms }}
					{{ forms.errors }}
				</div>
			{% endfor %}
			<input type="submit" value="Guardar" class="btn btn-success">
		</form>
	</div>
{% endblock content %}