{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
	<link href="{% static 'css/chosen.css' %}" rel="stylesheet">
	<script src="{% static 'js/chosen.js' %}"></script>
{% endblock head %}

{% block contentViewTitle %}
	<h3>Crear nuevo vehiculo</h3>
{% endblock contentViewTitle %}
{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger">
			Corrija los <strong>errores</strong> por favor
		</div>
	{% endif %}
	<div class="well">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="form-group col-md-6">
					<label>{{ form.placa.label }}</label>
					{{ form.placa }}
					{{ form.placa.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.kilometraje_actual.label }}</label>
					{{ form.kilometraje_actual }}
					{{ form.kilometraje_actual.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.marca.label }}</label>
					{{ form.marca }}
					{{ form.marca.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.linea.label }}</label>
					{{ form.linea }}
					{{ form.linea.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.soat.label }}</label>
					{{ form.soat }}
					{{ form.soat.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.cilindraje.label }}</label>
					{{ form.cilindraje }}
					{{ form.cilindraje.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.modelo.label }}</label>
					{{ form.modelo }}
					{{ form.modelo.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.categoria.label }}</label>
					{{ form.categoria }}
					{{ form.categoria.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>N° Chasis</label>
					{{ form.n_chasis }}
					{{ form.n_chasis.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>N° Motor</label>
					{{ form.n_motor }}
					{{ form.n_motor.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.cliente.label }}</label>
					{{ form.cliente }}
					{{ form.cliente.errors }}
				</div>
				<div class="form-group col-md-6">
					<label>{{ form.foto.label }}</label>
					{{ form.foto }}
					{{ form.foto.errors }}
				</div>
			</div>
			<div class="form-group text-center">
				<input type="submit" value="Guardar" class="btn btn-success">
				<a href="{% url 'create_clientes' %}" class="btn btn-primary">Crear cliente</a>
			</div>
		</form>
	</div>
{% endblock content %}

{% block scripts %}
	<script>
		$(".chosen").chosen();
		$(document).ready(
			function(){
				$("select#id_marca").change(function() {
					if ($(this).val() == '') {
						$("select#id_linea").html("<option>--------</option>");
						$("select#id_linea").attr('disabled', true);
						$("select#id_linea").removeAttr('class', 'chosen');
						$("select#id_linea").attr('class', 'form-control');
					}else{
						var url = "/obtener-linea/"+$(this).val()+"/";
						var brand = $(this).val();
						$.getJSON(url, function(models) {
							var options = '<option>--------</option>';
							for (var i = 0; i < models.length; i++) {
								options += '<option value="' + models[i].pk + '">' + models[i].fields['nombre_tipo'] + '</option>';
							}
							$("select#id_linea").html(options);
							$("select#id_linea").attr('class', 'form-control chosen');
							$("select#id_linea option:first").attr('selected', 'selected');
							$("select#id_linea").attr('disabled', false);
						});
					}
				});
			}
		);
	</script>
{% endblock scripts %}