{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>
		Lista de Vehiculos
	</h3>
{% endblock contentViewTitle %}
{% block content %}
	<div class="row well actions-top middle">
		<div class="col-1">
			<label for="">Buscar:</label>
		</div>
		<div class="col-8">
			<input type="text" class="form-control" placeholder="">
		</div>
		<div class="col-3">
			<input type="submit" class="btn btn-success" value="Buscar">
		</div>
	</div>
	{% if messages %}
		<div class="alert alert-success " role="alert">
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		</div>
	{% endif %}
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>placa</th>
				<th>soat</th>
				<th>cilindraje</th>
				<th>marca</th>
				<th>linea</th>
				<th>cliente</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for vehiculo in vehiculos %}
				<tr>
					<td>{{ vehiculo.placa }}</td>
					{% if vehiculo.soat %}
						<td>{{ vehiculo.soat }}</td>
					{% else %}
						<td></td>
					{% endif %}						
					<td>{{ vehiculo.cilindraje }}</td>
					<td>{{ vehiculo.marca }}</td>
					<td>{{ vehiculo.linea }}</td>
					<td>{{ vehiculo.cliente }}</td>
					<td>
						<a href="{% url 'detail_vehiculo' vehiculo.pk %}" class="btn btn-primary">Ver</a>
						<a href="{% url 'update_vehiculo' vehiculo.pk %}" class="btn btn-primary">Editar</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="row">
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a class="paginate-change" href="{% url 'list_vehiculo' %}?page={{ page_obj.previous_page_number }}">
					atrás&nbsp;
				</a>
			{% endif %}
			<span class="page-current">
				Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
			</span>
			{% if page_obj.has_next %}
				<a class="paginate-change" href="{% url 'list_vehiculo' %}?page={{ page_obj.next_page_number }}">
					&nbsp;siguiente
				</a>
			{% endif %}
		{% endif %}
	</div>
	<div class="row center">
		<a href="{% url 'create_vehiculo' %}" class="btn btn-primary">Nuevo Vehiculo</a>
	</div>
{% endblock content %}