{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Crear nuevo Mecánico</h3>
{% endblock contentViewTitle %}
{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger">
			Corrija los <strong>errores</strong> por favor
			<p>{{ form.non_field_errors }}</p>
		</div>
	{% endif %}
	<div class="well">
		<form method="POST">
			<fieldset>
				<legend>Mecánico</legend>
					{% csrf_token %}
					<div class="form-group col-md-6">
						{{ form.nombre.errors }}
						<label>{{form.nombre.label}}</label>
						{{ form.nombre }}
					</div>
					<div class="form-group col-md-6">
						{{ form.apellido.errors }}
						<label>{{form.apellido.label}}</label>
						{{ form.apellido }}
					</div>
					<div class="form-group col-md-6">
						{{ form.telefono.errors }}
						<label>{{form.telefono.label}}</label>
						{{ form.telefono }}
					</div>
					<div class="form-group col-md-6">
						{{ form.celular.errors }}
						<label>{{form.celular.label}}</label>
						{{ form.celular }}
					</div>
					<div class="form-group col-md-6">
						{{ form.documento.errors }}
						<label>{{form.documento.label}}</label>
						{{ form.documento }}
					</div>
					<div class="form-group col-md-6">
						{{ form.fnaci.errors }}
						<label>{{form.fnaci.label}}</label>
						{{ form.fnaci }}
					</div>
					<div class="form-group col-md-6">
						{{ form.direccion.errors }}
						<label>{{form.direccion.label}}</label>
						{{ form.direccion }}
					</div>
					<div class="form-group col-md-6">
						{{ form.activo.errors }}
						<label>{{form.activo.label}}</label>
						{{ form.activo }}
					</div>
					<input type="submit" class="btn btn-success" value="Guardar">
			</fieldset>
		</form>
	</div>
{% endblock content %}