{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Lista de Mecánicos</h3>
{% endblock contentViewTitle %}
{% block content %}
	{% if messages %}
		<div class="alert alert-success " role="alert">
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		</div>
	{% endif %}
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Tel - Cel</th>
				<th>Dirección</th>
			</tr>
		</thead>
		<tbody>
		{% for mecanico in mecanicos %}
			<tr>
				<td>{{ mecanico.nombre }}</td>
				<td>{{ mecanico.apellido }}</td>
				<td>{{ mecanico.telefono }} - {{ mecanico.celular }}</td>
				<td>{{ mecanico.direccion }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock content %}