{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Crear nuevo cliente</h3>
{% endblock contentViewTitle %}
{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger">
			Corrija los <strong>errores</strong> por favor
			<p>{{ form.non_field_errors }}</p>
		</div>
	{% endif %}
	<div class="well">
		<form method="POST">
			<fieldset>
				<legend>Cliente</legend>
					{% csrf_token %}
					<div class="form-group row middle">
						{{ form.nombre.errors }}
						<label class="col-2" for="{{ form.nombre.id_for_label }}">
							{{form.nombre.label}}:
						</label>
						{{ form.nombre }}
					</div>
					<div class="form-group row middle">
						{{ form.apellido.errors }}
						<label class="col-2" for="{{ form.apellido.id_for_label }}">
							{{form.apellido.label}}:
						</label>
						{{ form.apellido }}
					</div>
					<div class="form-group row middle">
						{{ form.telefono.errors }}
						<label class="col-2" for="{{ form.telefono.id_for_label }}">
							{{form.telefono.label}}:
						</label>
						{{ form.telefono }}
					</div>
					<div class="form-group row middle">
						{{ form.celular.errors }}
						<label class="col-2" for="{{ form.celular.id_for_label }}">
							{{form.celular.label}}:
						</label>
						{{ form.celular }}
					</div>
					<div class="form-group row middle">
						{{ form.direccion.errors }}
						<label class="col-2" for="{{ form.direccion.id_for_label }}">
							{{form.direccion.label}}:
						</label>
						{{ form.direccion }}
					</div>
					<div class="form-group row middle">
						{{ form.email.errors }}
						<label class="col-2" for="{{ form.email.id_for_label }}">
							{{form.email.label}}:
						</label>
						{{ form.email }}
					</div>
					<input type="submit" class="btn btn-success" value="Guardar">
			</fieldset>
		</form>
	</div>
{% endblock content %}