{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Orden de servicio</h3>
{% endblock contentViewTitle %}
{% block content %}
<div class="well orden-servicio">
	<h4>Datos del Vehiculo</h4>
	<div class="row orden-datos-vehiculo">
		<div class="col-2">
			<span class="labelfield">Placa</span>
			<span class="dato">{{ orden.vehiculo.placa }}</span>
		</div>
		<div class="col-2">
			<span class="labelfield">Marca</span>
			<span class="dato">{{ orden.vehiculo.marca }}</span>
		</div>
		<div class="col-2">
			<span class="labelfield">Modelo</span>
			<span class="dato">Modelo</span>
		</div>
		<div class="col-2">
			<span class="labelfield">Tipo</span>
			<span class="dato">{{ orden.vehiculo.tipo }}</span>
		</div>
	</div>
	<div class="separator-horizontal"></div>
	<h4>Datos del Cliente</h4>
	<div class="row orden-datos-cliente">
		<div class="col-3">
			<span class="labelfield">Nombre</span>
			<span class="dato">{{ orden.vehiculo.cliente }}</span>
		</div>
		<div class="col-2">
			<span class="labelfield">Documento</span>
			<span class="dato">{{ orden.vehiculo.cliente.documento }}</span>
		</div>
		<div class="col-3">
			<span class="labelfield">Telefono</span>
			<span class="dato">{{ orden.vehiculo.cliente.celular }} - {{ orden.vehiculo.cliente.telefono }}</span>
		</div>
		<div class="col-3">
			<span class="labelfield">Dirección</span>
			<span class="dato">{{ orden.vehiculo.cliente.direccion }}</span>
		</div>
	</div>
	<div class="separator-horizontal"></div>
	<h4>Datos Orden</h4>
	<div class="row">
		<div class="col-1 middle flex">
			<label for="">copas: </label>O
		</div>
		<div class="col-2 middle flex">
			<label for="">Plumillas: </label>X
		</div>
	</div>
	<div class="separator-horizontal"></div>
	<div class="row">
		<div class="col-3">
			<span class="labelfield">FECHA</span>
			<span class="dato">{{ orden.fecha }}</span>
		</div>
		<div class="col-6"></div>
		<div class="col-3 center">
			<span class="labelfield">N° ORDEN</span>
			<span class="dato">{{ orden.id }}</span>
		</div>
	</div>
	<div class="row orden-datos-servicio">
		<table class="table table-striped table-hover ">
			<thead>
				<tr>
					<th>Servicio</th>
					<th>Cantidad</th>
					<th>V. Unitario</th>
					<th>V. Total</th>
					<th>Mecánico</th>
					<th>Tiempo</th>
				</tr>
			</thead>
			<tbody>
				{% for detalle in ordenDetalle %}
					<tr>
						<td>{{ detalle.servicio }}</td>
						<td>{{ detalle.cantidad }}</td>
						<td>{{ detalle.valorUnitario }}</td>
						<td>{{ detalle.valorTotal }}</td>
						<td>{{ detalle.mecanico }}</td>
						<td>{{ detalle.servicio.time }} Hrs</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="separator-horizontal"></div>
		<div class="row end">
			<a href="{% url 'imprimir_orden_servicio' orden.pk %}" class="btn btn-info">Imprimir</a>
		</div>
</div>
{% endblock content %}