{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Crear nuevo <b class="title"></b></h3>
{% endblock contentViewTitle %}
{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger">
			Corrija los <strong>errores</strong> por favor
			<p>{{ form.non_field_errors }}</p>
		</div>
	{% endif %}
	<div class="well">
		<form method="POST">
			{% csrf_token %}
			{% for forms in form %}
				<div class="form-group">
					{{ forms.errors }}
					<label>{{forms.label}}</label>
					{{ forms }}
				</div>
			{% endfor %}
			<input type="submit" class="btn btn-success" value="Crear">
		</form>
	</div>
{% endblock content %}

{% block scripts %}
	<script>
		verify_checked();
		function verify_checked(){
			if($('input#id_servicio').is(':checked')){
				$('.articulo').hide()
				$('.articulo').prev().hide()
				$('.servicio').show()
				$('.servicio').prev().show()
				$('.title').empty().text('Servicio')
			}else{
				$('.articulo').show()
				$('.articulo').prev().show()
				$('.servicio').hide()
				$('.servicio').prev().hide()
				$('.title').empty().text('Articulo')
			}
		}
		$('#id_servicio').click(function(){
			verify_checked();
		});
	</script>
{% endblock scripts %}