{% extends "base.html" %}
{% load humanize %}
{% block contentViewTitle %}
	<h3>
		Lista de <span id="titulo"></span>
		<a href="#" class="btn btn-info" id="servicio_btn">Servicios</a>
		<a href="#" class="btn btn-primary" disabled id="repuesto_btn">Repuestos</a>
	</h3>
{% endblock contentViewTitle %}

{% block scripts %}
	<script>
		repuesto();
		function repuesto(){
			$('#repuesto').show();
			$('#servicio').hide();
			$('#titulo').text('Repuestos');
			$('#table-repuesto').DataTable({"language": languageDataTable,});
			$('#table-servicio').DataTable().destroy();
		}
		function servicio(){
			$('#servicio').show();
			$('#repuesto').hide();
			$('#titulo').text('Servicios');
			$('#table-repuesto').DataTable().destroy();
			$('#table-servicio').DataTable({"language": languageDataTable,});
		}
		$('#servicio_btn').click(function(){
			$('#servicio_btn').attr('disabled');
			$('#repuesto_btn').removeAttr('disabled');
			servicio();
		});
		$('#repuesto_btn').click(function(){
			$('#repuesto_btn').attr('disabled');
			$('#servicio_btn').removeAttr('disabled');
			repuesto();
		});
	</script>
{% endblock scripts %}

{% block content %}
	{% if messages %}
		<div class="alert alert-success " role="alert">
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		</div>
	{% endif %}
	<div id="servicio">
		<table class="table table-striped table-hover" id="table-servicio">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>valor</th>
					<th>Tiempo</th>
					<th>Grupo</th>
					<th>Detalle</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for servicio in servicios_data %}
					<tr>
						<td>{{ servicio.nombre }}</td>
						<td>{{ servicio.valor }}</td>
						<td>{{ servicio.time }}</td>
						<td>{{ servicio.grupo }}</td>
						<td>{{ servicio.detail }}</td>
						<td>
							<a href="{% url 'update_servicios' servicio.pk %}" class="btn btn-primary">Editar</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="repuesto">
		<table class="table table-striped table-hover" id="table-repuesto">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>valor</th>
					<th>Fecha vencimiento</th>
					<th>refencia</th>
					<th>Detalle</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for repuesto in repuestos_data %}
					<tr>
						<td>{{ repuesto.nombre }}</td>
						<td>{{ repuesto.valor }}</td>
						<td>{{ repuesto.fecha_vencimiento }}</td>
						<td>{{ repuesto.referencia }}</td>
						<td>{{ repuesto.detail }}</td>
						<td>
							<a href="{% url 'update_servicios' repuesto.pk %}" class="btn btn-primary">Editar</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row center">
		<a class="btn btn-primary" href="{% url 'create_servicio' %}">Nuevo Servicio</a>
	</div>
{% endblock content %}