@import "reticula.styl"
@import "fonts.styl"
@import "normalize.styl"

colorLetter = #3D3F3F
headerHeight = 80px
headerColor = #293a4a
menuContentColor = #eaeaea
menuContentLetterColor = #3D3F3F
subMenuBackgroundColor = white
errorTextColor = #b94a48


html, body
	height 100%

h1, h2, h3, h4
	margin 0

h4
	margin-bottom 15px

ul
	margin 0
	padding 0

li
	list-style none

a
	color colorLetter
	text-decoration none

label
	margin 0

input
	margin 0
input[type="text"]
	width 100%

input[type="number"]
	width 100%
	text-align right

select
	width 100%

.flex
	display flex

.header
	background-color headerColor 
	border-bottom 2px solid #062A6B
	height headerHeight
	color white

.logo
	display none
	background-image url('../img/logo.jpg')
	background-repeat no-repeat
	height 50px
	margin 0 auto
	width 220px

.app-name
	height 100%
	display flex

.app-name-title
	color white
	display inline-block
	margin-right 10px

.header-info
	height 100%
	display flex

.content-view
	width calc(100% - 260px)
	overflow overlay
	&-title
		margin-bottom 10px
		margin-top 10px

.content-view-detail
	width 98%
	margin 0 auto

.menu-content
	background-color menuContentColor
	border-right 3px solid #999999
	width 260px

.menu-search
	margin-top 10px
	margin-bottom 10px
	position relative
	
.search-menu
	position absolute
	top 10px
	font-size 20px
	right 10px

.content-main
	display flex
	height calc(100% - 80px)

.menu-list
	margin 0
	margin-top 15px
	padding 0
	li
		list-style none

.menu-group
	border-bottom 1px solid #999999
	margin-bottom 10px

.menu-group-item
	padding 5px
	margin-right: 1px;
	&:hover
		background-color #cccccc
	a
		color menuContentLetterColor
		text-decoration none
		border-right 1px solid #999999

.menu-action-deploy
	display flex

.submenu-list
	background-color subMenuBackgroundColor
	color menuContentLetterColor
	display none
	&-activate
		display block

.show-submenu
	cursor pointer

.submenu-item
	padding 5px
	&:hover
		background-color #F5F5F5
	a
		display block

.errorlist
	color errorTextColor
	position absolute
	right 0
	bottom 0
	z-index 2

.form-group
	position relative

.actions-top
	margin-top 10px
	padding-bottom 15px
	border-bottom 1px solid gainsboro
	margin-bottom 15px

.flex
	display flex

.paginate-change
	color black
	font-weight bold
	&:hover
		text-decoration: underline

.quick-access-bar
	background-color #d9edf7
	color #31708f
	font-size 20px
	margin 0
	padding-right 10px
	width calc(100% - 260px)
	position absolute
	bottom 0
	.icon
		padding-top 5px
		padding-right 5px

.add-foreign-field
	&:hover
		color green

.mright-15
	margin-right 15px

.underline-decoration
	text-decoration underline

.separator-horizontal
	border-bottom 2px solid gainsboro
	margin-top 10px
	margin-bottom 10px

.orden-servicio
	.labelfield
		display inherit
		font-weight bold
	.dato
		display inherit

.orden-datos-servicio
	margin-top 20px
	margin-bottom 20px

.orden-servicio-item
	border-bottom 1px solid gainsboro
	margin-bottom 8px

.all-space
	width 100%

.nav-bar
	background-color headerColor
	width 100%
	height 80px
	padding 10px
	color white

.loginContent
	width 100%
	height calc( 100% - 80px )
	padding 10px
	&-image
		width 100%
	&-contentform
		width 90%
