{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Crear nuevo cliente</h3>
{% endblock contentViewTitle %}

{% load staticfiles %}

{% block head %}
	<script src="{% static 'js/moment.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.datetimepicker.css' %}">
	<script src="{% static 'js/bootstrap.datetimepicker.js' %}"></script>
{% endblock head %}

{% block content %}
	{% if form.errors %}
		<div class="alert alert-danger">
			Corrija los <strong>errores</strong> por favor
			<p>{{ form.non_field_errors }}</p>
		</div>
	{% endif %}
	<div class="well">
		<form method="POST">
			{% csrf_token %}
			{% for forms in form %}
			<div class="form-group col-md-6">
				{{ forms.errors }}
				<label for="{{ forms.id_for_label }}">
					{{forms.label}}:
				</label>
				{{ forms }}
			</div>
			{% endfor %}
			<div class="form group">
				<input type="submit" class="btn btn-success" value="Guardar">
			</div>
		</form>
	</div>
{% endblock content %}

{% block scripts %}
	<script>
		$('.datepicker').datetimepicker({format: 'YYYY-MM-DD'});
	</script>
{% endblock scripts %}