{% extends "base.html" %}
{% block content %}
	<div class="row content-view-title middle">
		<h3>Cliente {{ object }}</h3>
	</div>
	<div class="row">
		<div class="well col-md-12">
			<div class="col-md-6">
				<p><b>Cédula:</b> {{ object.documento }}</p>
				<p><b>Fecha Nacimiento:</b> {{ object.fnaci }}</p>
				<p><b>Telefono:</b> {{ object.telefono }}</p>
			</div>
			<div class="col-md-6">
				<p><b>Celular:</b> {{ object.celular }}</p>
				<p><b>Email:</b> {{ object.email }}</p>
				<p><b>Dirección:</b> {{ object.direccion }}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h3>Automóviles</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Placa</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Cilindraje</th>
					<th>SOAT</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for auto in object.vehiculomodel_set.all %}
					<tr>
						<td>{{ auto.placa }}</td>
						<td>{{ auto.linea.marca }}</td>
						<td>{{ auto.modelo }}</td>
						<td>{{ auto.cilindraje }}</td>
						<td>{{ auto.soat }}</td>
						<td>
							<a href="{% url 'detail_vehiculo' auto.pk %}" class="btn btn-primary">Historial</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}