{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="{% static 'css/timeTo.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="{% static 'js/jquery.1.11.min.js' %}"></script>
	{% block head %}
	{% endblock head %}
</head>
<body>
	<div class="header">
		<div class="container header">
			<div class="row header bottom">
				<div class="col-3">
					<a href="{% url 'home' %}" style="display: none;">
						<div class="logo" style="display: inline-block;"></div>
					</a>
				</div>
				<div class="col-6 app-name middle">
					<h2 class="app-name-title" style="display: none;">Serviteca LT Motors Girardot</h2>
				</div>
				<div class="col-3 header-info middle">
					<span class="label label-primary" style="display: none;"> Erick Mateo Patiño Gomez</span>
				</div>
			</div>
		</div>
	</div>
	<div class="content-main">
		<div class="menu-content">
			<div class="container">
				<br>
				<div class="row">
					<h4>Menú</h4>
				</div>
			</div>
			<div class="menu">
				{% include "menu.html" %}
			</div>
		</div>
		<div class="content-view">
			<div class="container">
				<div class="row content-view-title middle">
					{% block contentViewTitle %}
					{% endblock contentViewTitle %}
				</div>
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</div>
</body>
<script src="{% static 'js/jquery.time-to.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
	$('#table').DataTable();
</script>
{% block scripts %}
{% endblock scripts %}
<script>

	var activateSubMenuListClass = document.getElementsByClassName("clk")

	var showSubMenu = function () {
		var listparent = this.parentNode.parentNode
		var submenu = listparent.childNodes[3]
		//var icon = this.childNodes[1]
		var icon = this.parentNode.childNodes[3]


		if (submenu.style.display == 'block')
		{
			submenu.style.display = 'none'
			icon.innerHTML = ">"
		}
		else{
			submenu.style.display = 'block'
			icon.innerHTML = "v"
		}
	}

	for (var i=0; i < activateSubMenuListClass.length ; i++) {
		activateSubMenuListClass[i].addEventListener('click', showSubMenu)
	};

</script>
</html>