{% extends "base.html" %}
{% block contentViewTitle %}
	<h3>Inicio</h3>
{% endblock contentViewTitle %}
{% block content %}
	<div class="well ordenes-pendientes-content">
		<h3>Ordenes realizadas</h3>
		<table class="table table-striped table-hover ">
			<thead>
				<tr>
					<th>Número de orden</th>
					<th>Vehiculo</th>
					<th>Hora de ingreso</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if ordenesPendientesM %}
					{% for orden in ordenesPendientesM %}
						<tr>
							<td>{{ orden.ordenServicio.id }}</td>
							<td>{{ orden.ordenServicio.vehiculo }}</td>
							<td>{{ orden.ordenServicio.fecha }}</td>
							<td>{% if orden.ordenServicio.state == 1 %}<span class="label label-success">Abierto</span>{% else %}<span class="label label-danger">Cerrado</span>{% endif %}</td>
							<td>
								<a href="{% url 'detalle_orden_servicio' orden.ordenServicio.pk %}" class="btn btn-primary btn-sm">Ver</a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					{% for orden in ordenesPendientes %}
						<tr>
							<td>{{ orden.id }}</td>
							<td>{{ orden.vehiculo }}</td>
							<td>{{ orden.fecha }}</td>
							<td>
								{% if orden.state == 1 %}
									<span class="label label-success">Abierto</span>
								{% elif orden.state == 0 %}
									<span class="label label-danger">Cerrado</span>
								{% elif orden.state == 2 %}
									<span class="label label-info">Trámite</span>
								{% endif %}
							</td>
							<td>
								{% if request.user.usuariosmodel.tipoUsuario.nombre_tipo == "Administrador" %}
									{% if orden.state == 1 or orden.state == 2 %}
										<a href="{% url 'edit_orden_servicio' orden.vehiculo.placa orden.pk %}" class="btn btn-success btn-sm">Editar</a>
										<a href="{% url 'close_service' orden.pk %}" class="btn btn-danger btn-sm" id="close">cerrar</a>
									{% endif %}
								{% endif %}
								<a href="{% url 'detalle_orden_servicio' orden.pk %}" class="btn btn-primary btn-sm">Ver</a>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock content %}

{% block scripts %}
	<script>
		$("#close").click(function(){
			if(!confirm("¿Desea cerrar la orden?")){
				return false;
			}
		});
	</script>
{% endblock scripts %}