<ul class="menu-list">
	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-12 clk" href="{% url 'soat' %}">
				<div>
					<span class="glyphicon glyphicon-info-sign"> SOAT</span>
				</div>
			</a>
		</div>
	</li>
	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-10 clk" href="#">
				<div>
					<span class="icon-user-tie"> Clientes</span>
				</div>
			</a>
			<div class="col-2 center middle show-submenu clk">
				<span>></span>
			</div>
		</div>
		<ul class="submenu-list">
			<li class="submenu-item"><a href="{% url 'list_clientes' %}">Lista de Clientes</a></li>
			<li class="submenu-item"><a href="{% url 'create_clientes' %}">Crear Cliente</a></li>
		</ul>
	</li>
	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-10 clk" href="#">
				<div>
					<span class="icon-truck"> Vehiculos</span>
				</div>
			</a>
			<div class="col-2 center middle show-submenu clk">
				<span>></span>
			</div>
		</div>
		<ul class="submenu-list">
			<li class="submenu-item"><a href="{% url 'create_vehiculo' %}">Crear Vehiculos</a></li>
			<li class="submenu-item"><a href="{% url 'list_vehiculo' %}">Lista Vehiculos</a></li>
			<li class="submenu-item"><a href="{% url 'historial' %}">Historial del vehiculos</a></li>
		</ul>
	</li>
	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-10 clk" href="#">
				<div>
					<span class="icon-stack"> Articulos y servicios</span>
				</div>
			</a>
			<div class="col-2 center middle show-submenu clk">
				<span>></span>
			</div>
		</div>
		<ul class="submenu-list">
			<li class="submenu-item"><a href="{% url 'create_servicio' %}">Crear nuevo</a></li>
			<li class="submenu-item"><a href="{% url 'list_servicio' %}">Lista de servicios</a></li>
			<li class="submenu-item"><a href="#">Grupos de servicios</a></li>
		</ul>
	</li>
	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-10 clk" href="#">
				<div>
					<span class="icon-profile"> ordenes de servicio</span>
				</div>
			</a>
			<div class="col-2 center middle show-submenu clk">
				<span>></span>
			</div>
		</div>
		<ul class="submenu-list">
			<li class="submenu-item"><a href="{% url 'orden_servicio' %}">Nueva orden</a></li>
		</ul>
	</li>
	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-10 clk" href="#">
				<div>
					<span class="icon-users"> Mecánicos</span>
				</div>
			</a>
			<div class="col-2 center middle show-submenu clk">
				<span>></span>
			</div>
		</div>
		<ul class="submenu-list">
			<li class="submenu-item"><a href="{% url 'list_mecanicos' %}">Mecánicos</a></li>
			<li class="submenu-item"><a href="{% url 'create_mecanicos' %}">Crear Mecánico</a></li>
			<li class="submenu-item"><a href="{% url 'time_mecanicos' %}">Tiempos</a></li>
		</ul>
	</li>

	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-10 clk" href="#">
				<div>
					<span class="icon-list"> Reportes</span>
				</div>
			</a>
			<div class="col-2 center middle show-submenu clk">
				<span>></span>
			</div>
		</div>
		<ul class="submenu-list">
			<li class="submenu-item"><a href="{% url 'ordenes_por_servicios' %}">Servicios</a></li>
			<li class="submenu-item"><a href="{% url 'orden_servicio_auto' %}">Servicios por auto</a></li>
			<li class="submenu-item"><a href="{% url 'orden_servicio_mecanico' %}">Servicios por Mecanico</a></li>
			<li class="submenu-item"><a href="{% url 'vehiculo_soat' %}">SOAT</a></li>
		</ul>
	</li>

	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-10 clk" href="#">
				<div>
					<span class="icon-cog"> Configuraciones</span>
				</div>
			</a>
			<div class="col-2 center middle show-submenu clk">
				<span>></span>
			</div>
		</div>
		<ul class="submenu-list">
			<li class="submenu-item"><a href="#">Menu 1</a></li>
			<li class="submenu-item"><a href="#">Menu 2</a></li>
		</ul>
	</li>
	<li class="menu-group">
		<div class="row menu-group-item">
			<a class="col-10 clk" href="#">
				<div>
					<span class="icon-question"> Ayuda</span>
				</div>
			</a>
			<div class="col-2 center middle show-submenu clk">
				<span>></span>
			</div>
		</div>
		<ul class="submenu-list">
			<li class="submenu-item"><a href="#">Manual</a></li>
		</ul>
	</li>
</ul>